.app.dark {
    --bg-color: #191966;
    --inverted-bg-color: #c4cbcc;

    --primary-color: #45a82c;
    --secondary-color: #167927;

    --inverted-primary-color: #2010b1;
    --inverted-secondary-color: #205392;
}
