.app.light {
    --bg-color: #c4cbcc;
    --inverted-bg-color: #191966;

    --primary-color: #2010b1;
    --secondary-color: #205392;

    --inverted-primary-color: #45a82c;
    --inverted-secondary-color: #167927;
}
